	
# serverless.yml
 
service: serverless-flask
 
custom:
  tableName: 'users-table-${self:provider.stage}'

  wsgi:
    app: app.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux

provider:
  name: aws
  runtime: python3.9
  stage: prod
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - { "Fn::GetAtt": ["UsageDynamoDBTable", "Arn" ] }
  environment:
    USAGE_TABLE: ${self:custom.tableName}
    TOKEN: ${env:TOKEN}
    SLACK_WEBHOOK: ${env:SLACK_WEBHOOK}


functions:
  app:
    handler: app.app
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'


resources:
  Resources:
    UsageDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: pk
            AttributeType: S
        KeySchema:
          -
            AttributeName: pk
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:custom.tableName}

plugins:
   - serverless-python-requirements